/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background-color:#fff;
  color:#000;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color:#fff3e6;
  width:90vw;
  height:97vh;
  margin-left:auto;
  margin-right:auto;
}
