@import url("./_normalize.css");
@import url("./_settings.css");
@import url("./_typography.css");
@import url("./_tooltip.css");

header {
  background-color:#fff;
  height:75px;
  overflow:hidden;
}

.shortcut {
  float: left;
  padding: 0 17px;
  width: 50px;
}
.shortcut img {
  height:20px;
  width:20px;
}

.title {
}

.buttons {
  width:35px;
  height:35px;
}



#column1 {
  width:200px;
  float:left;
  position:relative;
  height: calc (97vh - 50px);
}

.toolsTop {
  width:100%;
  height:50px;
  padding:11px 0;
  margin-left:-10px;
}

.undo, .redo, .lassoPoly, .lassoFree, .clearAll {
  display:inline-block;
}

.clearAll {
  float:right;

}

.layers {
  width:100%;
  margin-left:-10px;
}

.layers > div {
  position: relative;
}

.layer4, .layer3, .layer2, .layer1, .layerBg {
  height:90px;
  width:200px;
  margin: 5px 0;
}

.layerBg {
  background-color:#c8c0ba
}
.layer1 {
  background-color:#931ba8;
}
.layer1 .texture {
  background-image: url("/assets/textures/small/texture_02.png");
  border: medium none;
  width: 100%;
  height: 80px;
  background-position:top;
}
.layer2 {
  background-color:#d7d518;
}
.layer3 {
  background-color:#14deaf;
}
.layer3 .texture{
  background-image: url("/assets/textures/small/texture_10.png");
  border: medium none;
  width: 100%;
  height: 80px;
  background-position:top;
}
.layer4 {
  background-color:#ffb661;
}

.activeLayer {
  border: solid 5px rgba(0, 0, 0, 1);
  box-shadow: -1px 2px rgba(84, 76, 68, 0.3);
}

.activeLayer h1 {
  margin-top:20px;
}

.wrapECO {
  width:170px;
  height:30px;
  position:absolute;
  bottom:0;
  left:30px;
  background-color:#231F20;
}

/* .edit, .clear, .opacity {
  display:inline-block;
  z-index:6;
} */

.edit {
  float:left;
}
.clear {
  float:right;
}
.layerTab {
  width:30px;
  background-color:#fff;
  float:left;
  height:100%;
  position:absolute;
  z-index:3;
}

.texture {
  width: 0;
  height: 0;
  border-bottom: 80px solid rgba(0, 0, 0, 0.2);
  border-left: 160px solid transparent;
  z-index:0;
  position: absolute;
  right: 0;
}

.edit .buttons, .clear .buttons, .opacity .buttons {
  width:30px;
  height:30px;
  margin:0 8px;
}

.opacity {
  width:50%;
}

.save, .export {
  width:20%;
  display:inline-block;
  vertical-align:middle;
}

.toolsBottom {
  width:200px;
  height:50px;
  /*background-color:#00f6ff; */
  position:fixed;
  bottom:3.5vh;
  padding:7px;
  vertical-align:middle;
}

#column2 {
  width: calc(90vw - 200px);
  height: calc(97vh - 70px - 50px);
  float:right;
  position:relative;
}

.dimensions {
  height:auto;
  width:200px;
  position:absolute;
  right:11px;
  top:-48px;
  background-color:#fff;
  padding:17px;
  /* border: dashed 3px #000; */
}


.width, .height {
  line-height:22px;
  vertical-align: middle;
  display:inline-block;
  padding:4px 4px 0px 4px;
}

textarea {
  outline:none;
  resize:none;
  overflow:hidden;
  display:inline-block;
}

#myCanvas {
  position:absolute;
  top:50px;
  width: calc(100% - 15px);
  height: calc(100% - 22px);
  margin: 5px 10px 0px 5px;
  background-color:#fff;

}

.strip {
  width:70px;
  height:6px;
  background-color:#00f6ff;
  position:absolute;
  right:17px;
  top:-49px;
  z-index:2;
}

.strip2 {
  width:70px;
  height:8px;
  background-color:#00f6ff;
  position:absolute;
  left:125px;
  top: calc(97vh - 80px);
  z-index:2;
}

.keymap img {
  width:600px;
  height:auto;
  border: solid 30px #fff;
  border-top: none;
  border-bottom: none;
  background-color: #00f6ff;
  padding-bottom: 8px;
}

.keymap h1 {
  margin:0px 0px;
}

.smallText {
  color:#666;
  margin-top:0px;
}

.texturePicker {
  width: 100px;
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height:35px;
}

.texturePicker img {
  width: 25px;
  height:25px;
  padding:2px;
  background-color:#fff3e6;
}

/* hidden buttons for future use */

.undo img, .redo img, .save img{
  display:none;
}
.undo, .redo{
  width:15px;
}
